<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='../public/css/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css'
    />
    <link
      rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
      integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
      crossorigin='anonymous'
    />
    <!-- jQuery library -->
    <script
      src='https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js'
    ></script>

    <!-- Popper JS -->
    <script
      src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js'
    ></script>

    <!-- Latest compiled JavaScript -->
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js'
    ></script>
    <title>CRUD User</title>
  </head>

  <body class='container'>
    <div class='topnav'>
      {{! <a href="/upload-file">Upload file</a> }}
    </div>
    <div style='padding-left:16px'>
      <a href='/user/getAllUsers'>
        Home page
      </a>
      <h2>List user deleted</h2>
    </div>
    <form class='d-flex align-items-center' action='/user/search' method='post'>
      <input
        class='form-control sm w-25'
        required
        type='text'
        name='value'
        placeholder='Search for username or email'
      />
      <input value="trashUsers" name="page" hidden/>
      <button type='submit' class='btn btn-primary h4 p-2 mt-2'>
        <i class='fas fa-search'></i>
      </button>
    </form>
    <form name='container-form' method='post' action='/user/handle-action-form'>
      <div class='d-flex align-items-center mb-2'>
        <div class='form-check ml-2'>
          <input
            class='form-check-input'
            type='checkbox'
            value=''
            id='checkbox-all'
          />
          <label class='form-check-label' for='checkbox-all'>
            Select all
          </label>
        </div>
        <select
          name='action'
          class='form-control form-control-sm w-25'
          required
        >
          <option value=''>---Choose action---</option>
          <option value='destroy'>Delete</option>
          <option value='restore'>Restore
          </option>
        </select>
        <button
          class='btn btn-primary btn-sm check-all-submit-btn disabled'
        >Perform</button>
      </div>
      <table class='table'>
        <thead class='thead-light'>
          <tr>
            <th></th>
            <th scope='col'>#</th>
            <th scope='col'>_id

            </th>
            <th scope='col'>Username
              {{{sortableTrash 'username' _sort}}}
            </th>
            <th scope='col'>Email
              {{{sortableTrash 'email' _sort}}}
            </th>
            <th scope='col'>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <td>
                <div class='form-check'>
                  <input
                    class='form-check-input'
                    type='checkbox'
                    name='usersId[]'
                    value='{{this._id}}'
                    id='defaultCheck1'
                  />
                </div>
              </td>
              <td>{{@index}}</td>
              <td>
                {{this._id}}
              </td>
              <td>
                {{this.username}}
              </td>
              <td>
                {{this.email}}
              </td>
              <td>
                {{!-- <a class="btn btn-secondary h4" href="detail/user?{{this._id}}" target="_blank">Detail</a> --}}
                <button
                  class='btn btn-info btn-restore h4'
                  type='button'
                  data-id='{{this._id}}'
                >
                  <i class='fas fa-recycle'></i>

                </button>
                <button
                  type='button'
                  class='btn btn-danger h4'
                  data-toggle='modal'
                  data-id='{{this._id}}'
                  data-target='#destroy-user-modal'
                >
                  <i class='fas fa-trash'></i>

                </button>
              </td>
            </tr>
            <!-- Modal -->
            <div
              class='modal fade'
              id='destroy-user-modal'
              tabindex='-1'
              role='dialog'
              aria-labelledby='exampleModalLongTitle'
              aria-hidden='true'
            >
              <div class='modal-dialog' role='document'>
                <div class='modal-content'>
                  <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLongTitle'>Delete
                      User
                    </h5>
                    <button
                      type='button'
                      class='close'
                      data-dismiss='modal'
                      aria-label='Close'
                    >
                      <span aria-hidden='true'>&times;</span>
                    </button>
                  </div>
                  <div class='modal-body'>
                    Are you sure you deleted this user?
                  </div>
                  <div class='modal-footer'>
                    <button
                      type='button'
                      class='btn btn-secondary h4'
                      data-dismiss='modal'
                    >Close</button>
                    <a
                      {{!-- href='/user/destroy/{{this._id}}' --}}
                      type='button'
                      class='btn btn-danger h4 btn-destroy-user'
                      id='btn-destroy-user'
                    >
                      Permanently Deleted
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {{else}}
            <tr>
              <td colspan='5' class='text-center'>Currently no users have been
                deleted.
                <a href='/user/getAllUsers'>Home</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </form>
    <form name='destroy-user-form' method='post'></form>
    <form name='restore-user-form' method='post'></form>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() { 
      var userId; 
      var destroyUserForm = document.forms['destroy-user-form']; 
      var btnDeleteUser = document.getElementById('btn-destroy-user'); 
      var btnRestore = $('.btn-restore'); 
      var restoreUserForm = document.forms['restore-user-form']; 
      var checkboxAll = $('#checkbox-all'); 
      var userItemCheckbox = $('input[name="usersId[]"]'); 
      var checkAllSubmitBtn = $('.check-all-submit-btn');
      var containerForm = document.forms['container-form'];      
      
      btnRestore.click(function(e){
        e.preventDefault(); 
        var idUser = $(this).data('id'); 
        restoreUserForm.action = "/user/restore/"+idUser; 
        restoreUserForm.submit(); })
    
      $('#destroy-user-modal').on('show.bs.modal', function (event) { 
        var button = $(event.relatedTarget); 
        var userId = button.data('id');
        btnDeleteUser.onclick = function () { 
          destroyUserForm.action = "/user/destroy/"+userId; destroyUserForm.submit(); 
        } ; 
      }); 
      //checkbox all clicked
      checkboxAll.change(function(){ 
        var isCheckedAll = $(this).prop('checked');
        console.log(isCheckedAll);
        userItemCheckbox.prop('checked',isCheckedAll) 
        renderCheckAllSubmitBtn(); 
      });
      //user item checkboxchange
      userItemCheckbox.change(function(){ 
        var isCheckedAll = userItemCheckbox.length === $('input[name="usersId[]"]:checked').length;
        checkboxAll.prop('checked',isCheckedAll); 
        renderCheckAllSubmitBtn() 
      });
      //check all submit buttons  clicked
      checkAllSubmitBtn.on('submit', function(e){
        var isSubmitTable = !$(this).hasClass('disabled');
        if(!isSubmitTable){
          e.preventDefault();
        }
        containerForm.submit();
      });
      //re render check all submit btn 
      function renderCheckAllSubmitBtn() { 
        var checkedCount = $('input[name="usersId[]"]:checked').length; 
        if (checkedCount){
          checkAllSubmitBtn.removeClass('disabled')
        }else{
          checkAllSubmitBtn.addClass('disabled')
        }
      }
    });
  </script>
</html>